:root {
  --very-dark-blue: #0a0a23;
  --white: #ffffff;
  --yellow: #f1be32;
  --golden-yellow: #feac32;
}

body {
  background-color: var(--white);
  text-align: center;
  color: var(--very-dark-blue);
}

h1 {
  margin: 15px 0 20px;
}
